.pMainSection {
  text-align: center;
}

.imgSection {
  height: 144px;
  width: 144px;
  display: flex;
  border-radius: 50%;
  background: gray;
  border: 2px solid green;
  align-items: center;
  margin: 0 auto;
}

.iconAbsulute {
  position: absolute;
  right: 13px;

}

.doneIcon {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  background: #EEF6F9;
}

.buttonD {
  padding: 8px 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #57A9C2;
  background: rgba(87, 169, 194, 0.1);
  border: none;
  border-radius: 5px;
}