
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif; ;
}

@media screen and (max-width: 720px) {
 .alignItem{
justify-content: space-around!important;
 }
 .responsiveContent{
  display: none;
 }
}
.form-control{
  height: 46px;
 
}
.marginForm{
  margin-bottom: 25px;
}
.modal-header {
  border-bottom: none !important;
}


@media screen and (max-width: 768px) {
 
  .marginBottomRes{
   margin-bottom: 25px;
  }
  } 